html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url('/static/as.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #080000;
    position: relative;
    background-color: white;
}


body::before {
    content: ''; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -10; 
}


header {
    background-color: rgba(254, 86, 2, 0.961);
    padding: 3px;
    text-align: center;
    color: rgb(245, 240, 240);
}

nav a {
    color: #040404;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}
a {
    text-decoration: none;
    color: #ffffff;

}
.flash-messages{
    color: red;
}
