<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Scrap Collection</title>
</head>
<body>
    <header>
        <h1>Scrap Collection Service</h1>
    </header>
    <nav style="text-align: center;font-size: large;">
        <a href="/">Home</a>
        <a href="/adminview_request">View request</a>
        <a href="/logout">Logout</a>
    </nav>
    <main >
        
        <h2 style="text-align: center;">Welcome {{user}}</h2>
        <p style="text-align: center;">We help you dispose of your scrap responsibly. Schedule a pickup today!</p>
    </main>
</body>
</html>

