<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Scrap Collection</title>
</head>
<body>
    <header>
        <h1>Scrap Collection Service</h1>
    </header>
    <nav style="text-align: center;font-size: large;">
        <a href="/">Home</a>
        <a href="/schedule">Schedule Pickup</a>
        <a href="/view-requests">View Requests</a>
        <a href="/contact">Contact Us</a>
    </nav>
    <main >
        {% block content %}{% endblock %}
    </main>
</body>
</html>
